@model ISFDyT124.DTO.HomeIndexDto

@{
    ViewData["Title"] = "Inicio";
    ViewData["BodyClass"] = "inicio-page";
}

<main class="main-container">
    <div class="tab-inicio">
        Inicio
    </div>

    <div class="form-card">
        <div class="input-group">
            <label for="SelectedCarreraId">Carrera:</label>
            <select asp-for="SelectedCarreraId" id="carrera" class="custom-select">
                <option value="" disabled selected>Seleccione una Carrera</option>
                @foreach (var carrera in Model.Carreras)
                {
                    <option value="@carrera.CaId">@carrera.CaDenominacion</option>
                }
            </select>
        </div>

        <div class="input-group">
            <label for="SelectedMateriaId">Materia:</label>
            <select asp-for="SelectedMateriaId" id="materia" class="custom-select">
                <option value="" disabled selected>Seleccione una Materia</option>
                @foreach (var materia in Model.Materias)
                {
                    <option value="@materia.MaId">@materia.MaDenominacion</option>
                }
            </select>
        </div>

        <button class="btn-siguiente" id="btnSiguiente">Siguiente</button>
    </div>
</main>