@model ISFDyT124.DTO.UsuarioDetalleDto
@{
    ViewData["Title"] = "Editar Usuario";
    ViewData["BodyClass"] = "editar-page";
}

<div class="admin-banner">
    ADMIN
</div>

<main class="main-container-agregar">
    <div class="form-card-agregar">
        <h2 class="form-title"><u>Editar Usuario</u></h2>

        <form asp-controller="Admin" asp-action="UsuarioEditar" method="post" id="formEditarUsuario" class="form-grid">
            <input type="hidden" asp-for="UsId" />

            <div class="input-group">
                <label asp-for="UsApellido">Apellidos</label>
                <input asp-for="UsApellido" required>
                <span asp-validation-for="UsApellido" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="UsNombre">Nombres</label>
                <input asp-for="UsNombre" required>
                <span asp-validation-for="UsNombre" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="UsDni">DNI</label>
                <input asp-for="UsDni" required>
                <span asp-validation-for="UsDni" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="UsEmail">Email</label>
                <input asp-for="UsEmail" required>
                <span asp-validation-for="UsEmail" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label for="selectedRoleId">Rol del Usuario</label>
                <select id="selectedRoleId" name="selectedRoleId" class="custom-select" required asp-items="@(new SelectList(ViewBag.RolesList, "RoId", "RoDenominacion"))">
                    <option value="" disabled>Seleccione un Rol</option>
                </select>
            </div>

            <div class="button-container">
                <button type="submit" class="btn-guardar-estudiante">Guardar</button>
            </div>
        </form>
    </div>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
